:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.87);
  background-color: rgb(104, 91, 91);
}
#root{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
